<%- include("partials/header"); -%>


    <div class="login">


        <form action="./home" method="post">
            <label for=""> Name</label>
            <input type="text" name="firstName">
            <label for=""> password</label>
            <input type="password" name="password">

            <input type="submit">



        </form>
    </div>


    <%- include("partials/footer.ejs") -%>